.wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #1d1d1f;
}

.container {
  box-sizing: border-box;
  margin: 0 230px;
  padding: 20px;
  background-color: #282727;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100%;
  background-color: #e1e7e7;
}

.title {
  padding: 10px 0 10px 25px;
  background-color: #d0ac41;
}

.title h2 {
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100px;
}
